.container_projects {
    margin-top: 30px;
}

.container-cards {
    margin-top: 25px;
}

.card {
    width: 285px;
    height: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 50px;
}

.light-card {
    background: #f3e6f3;
    box-shadow: 2px 2px 4px 2px #cdb1ff;
}

.dark-card {
    background: #3a2069;
    box-shadow: 2px 2px 4px 2px #0b002f;
}

.turned-card {
    animation: turnCard 0.5s ease-in-out both;
}

.init-card  {
    animation: initCard 0.5s ease-in-out both;
}

.hide-front-card {
    animation: hideFrontCard 0s ease-in-out 0.25s both;
}

.init-front-card {
    animation: initFrontCard 0s ease-in-out 0.25s both;
}

.back-card {
    opacity: 0;
    visibility: hidden;
    width: 80%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.display-back-card {
    animation: displayBackCard 0s ease-in-out 0.25s both;
}

.init-back-card {
    animation: initBackCard 0s ease-in-out 0.25s both;
}

.container-img-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 140px;
    border-radius: 12px;
}

.light-container-img {
    box-shadow: inset 0px 0px 50px #0b002f;
}
.dark-container-img {
    box-shadow: inset 0px 0px 50px #cdb1ff;
}

.container-img-project > img {
    width: 200px;
}

.container-details-card {
    text-align: center;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-stack {
    display: flex;
    justify-content: space-evenly;
}

.container-links {
    text-align: initial;
    display: flex;
    justify-content: space-around;
}

.container-links > div, .display-link-site > a, .display-link-site > button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-link-site:not(.light-in-build, .dark-in-build) {
    border-style: none solid none solid; 
    border-width:  2.5px; 
    border-color: #f3e6f3;
    padding: 0 25px;
}

.dark-link-site:not(.light-in-build, .dark-in-build) {
    border-style: none solid none solid;
    border-width:  2.5px; 
    border-color: #3a2069;
    padding: 0 25px;
}

.light-in-build {
    border: solid 1.5px #f3e6f3;
}
.dark-in-build {
    border: solid 1.5px #3a2069;
}

.light-in-build > a, .dark-in-build > a {
    display: none;
}

.turn-button {
    margin: 0;
    display: flex;
}

.circularArrow {
    transform: rotateY(190deg);
}

/* To back of the card */
@keyframes turnCard {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes hideFrontCard {
    0% {
        display: initial;
    }
    100% {
        display: none;
    }
}

@keyframes displayBackCard {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}


/* To front of the card */
@keyframes initCard {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes initFrontCard {
    0% {
        display: none;
    }
    100% {
        display: initial;
    }
}

@keyframes initBackCard {
    0% {
        opacity: 1;
        visibility: visible; 
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Part tablet */
@media (min-width: 500px)  {
    .card {
        width: 435px;
        height: 416px;
    }

    .container-img-project {
        width: 385px;
        height: 175px;
    }    

    .container-img-project > img {
        width: 265px;
    }

    h3 {
        font-size: x-large;
    }

    .icon-card {
        width: 40px;
    }

    .size-text-card {
        font-size: 21px;     
    }
}

/* Part laptop */
@media (min-width: 800px)  {
    .container-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        gap: 25px;
    }
}
