.container-img {
    position: absolute;
    top: 0;
    z-index: 3;
}

.purple_landscape {
    position: relative;
    z-index: 2;
}

.mini_curt {
    position: absolute;
    z-index: 1;
}

.container-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 4;
    padding: 28vh 10px 0 10px;
}

h1 {
    text-align: center;
    line-height: 40px;
    text-shadow: 0 3px #3a2069;
    white-space: nowrap;
}

.container-icons {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    margin-top: 15px;
}

.container-icons > a {
    height: 32px;
}

.container-icons > a > img {
    width: 35px;
}

.container_presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
    padding: 0 15px;
}

p {
    width: 100%;
}

/* Part mobile */

@media (max-width: 430px)  {
    .purple_landscape {
        width: 100vw;
        height: 50vh;
    }

    .mini_curt {
        width: 74%;
        height: 44%;
        top: 8vh;
        left: 18%;
        animation: up 0.7s ease-in-out;
    }
}

@keyframes up {
    0% {
        transform: translateY(60%);
    }

    100% {
        transform: translateY(0%);
    }
}
