.container-img {
    position: absolute;
    top: 0;
    z-index: 3;
}

.purple_landscape {
    position: relative;
    z-index: 2;
    height: 410px;
    width: 100vw;
}

.mini_curt {
    position: absolute;
    z-index: 1;
    width: 74%;
    height: 44%;
    top: 65px;
    left: 18%;
    animation: up 0.7s ease-in-out;
}

.container-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 4;
    padding: 240px 10px 0 10px;
}

h1 {
    text-align: center;
    line-height: 40px;
    text-shadow: 0 3px #3a2069;
    white-space: nowrap;
}

.container-icons {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    margin-top: 15px;
}

.container-icons > a {
    height: 32px;
}

.container-icons > a > img {
    width: 35px;
}

.container_presentation {
    margin-top: 50px;
}

p {
    width: 100%;
}
    
@keyframes up {
    0% {
        transform: translateY(60%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* Part tablet */
@media (min-width: 500px)  {
    .mini_curt {
        top: 17%;
        min-height: 37%;
    }

    .purple_landscape {
        width: 100vw;
        min-height: 800px;
        max-height: 1200px;
        height: 95vh;
    }

    .container-icons {
        width: 55vw;
    }
    .container-icons > a {
        height: 60px;
    }
    .container-icons > a > img {
        width: 60px;
    }
}

@media (max-height: 1000px) and (min-width: 500px) {
    .container-title {
        padding-top: 580px;
    }

    .container_presentation {
        margin-top: 25%;
    }
}

@media ( 1001px <= height <= 1200px) and (min-width: 500px) {
    .container-title {
        padding-top: 745px;
    }

    .container_presentation {
        margin-top: 30%;        
    }
}

@media (min-height: 1200px) and (min-width: 500px) {
    .container-title {
        padding-top: 845px;
    }
    
    .container_presentation {
        margin-top: 18%;

    }
}