.container_contact {
    margin-top: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px;
    width: 100%;
}

.form > label {
    margin-bottom: 10px;
}

.form > input {
    margin-bottom: 30px;
    border-radius: 25px;
    height: 30px;
    padding: 0 15px;
}

.form > textarea {
    border-radius: 20px;
    height: 120px;
    outline: none;
    padding: 15px 15px;
}

.form > input:focus, .form > textarea:focus {
    outline: none;
}

.form > button {
    margin-top: 25px;
    border-radius: 25px;
    width: 150px;
    align-self: center;
}

.light-button {
    background: #f3e6f3;
    color: #3a2069;
}

.dark-button {
    background: #3a2069;
    color: #f3e6f3;
}

.form > button:active {
    animation: clickButton 0.3s ease-in-out alternate;
}

.container-checkmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.container-checkmark > img {
    width: 100px;
}

.light-form {
    background: #f3e6f3;
    border: solid 1px #3A2069;
    color: #3A2069;
}

.dark-form {
    background: #3A2069;
    border: solid 1px #f3e6f3;
    color: #f3e6f3;
}

.light-form:focus {
    border: solid 3px #3A2069;
}
.dark-form:focus {
    border: solid 3px #f3e6f3;
}

@keyframes clickButton {
    0% {
        color: #f3e6f3;
        transform: scale(1);
    }
    100% {
        color: #a19c9c;
        transform: scale(0.9);
    }
}

/* Part tablet */
@media (min-width: 500px)  {
    .form {     
        width: 45%;
        min-width: 440px;
    }

    .container-checkmark {
        margin-bottom: 100px;
    }

    .container-checkmark > img {
        width: initial;
    }

    .container-checkmark > p {
        width: 465px;
    }
}