nav {
    position: sticky;
    top: 92%;
    background: #3a2069;
    height: 50px;
    padding-top: 15px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
}