@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lora&display=swap');

body {
    margin: 0;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Lemon', serif;
    font-size: 4.7vw;
    letter-spacing: 3px;
    padding: 0 15px;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 5.6vw;
    padding: 5px;
    letter-spacing: 5px;
    border-radius: 10px;
}

.light-h2 {
    color: #f3e6f3;
    border: double 5px #f3e6f3;
}

.dark-h2 {
    color: #3a2069;
    border: double 5px #3a2069;
}

h3 {
    font-family: 'Lemon', serif;
    letter-spacing: 1px;
    margin-top: 25px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2.5px;
}

.light-h3 {
    color: #f3e6f3;
    text-decoration-color: #f3e6f3;
}

.dark-h3 {
    color: #3a2069;
    text-decoration-color: #3a2069;
}

button {
    cursor: pointer;
    font-family: 'Lora', serif;
    font-size: medium;
    background-color: transparent;
    border: none;
    line-height: 25px;
    -webkit-tap-highlight-color: transparent;
}

p, label {
    font-family: 'Lora', serif;
    white-space: pre-line;
}

label {
    font-weight: bold;
}

div[class*='container_'] {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

/* Settings theme */

.light-text {
    color: #f3e6f3;
}

.dark-text {
    color: #3a2069;
}

.light-background {
    background-color: #f3e6f3;
}

.dark-background {
    background-color: #3a2069;
}

/* Part tablet */
@media (min-width: 500px)  {
    h1 {
        font-size: x-large;
    }
    
    h2 {
        padding: 5px;
        font-size: 30px;
    }

    .light-h2-tablet {
        border: double 10px #f3e6f3;
    }
    
    .dark-h2-tablet {
        border: double 10px #3a2069;
    }

    h3 {
        font-size: x-large;
    }
}

/* Part laptop */
@media (min-width: 800px)  {
    body {
        padding: 0;
    }

    #Projects, #AboutMe {
        padding-top: 60px;
    }
}