@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lora&display=swap');

body {
    margin: 0;
    width: 100%;
    height: auto;
    background: #f3e6f3;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Lemon', serif;
    color: #f3e6f3;
    font-size: 4.7vw;
    letter-spacing: 3px;
    padding: 0 15px;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 5.6vw;
    color: #3a2069;
    border: double 5px #3a2069;
    padding: 5px;
    letter-spacing: 5px;
    border-radius: 10px;
}

h3 {
    font-family: 'Lemon', serif;
    color: #3a2069;
    letter-spacing: 1px;
    margin-top: 25px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: #3a2069;
}

button {
    cursor: pointer;
    font-family: 'Lora', serif;
    font-size: medium;
    color: #f3e6f3;
    background-color: transparent;
    border: solid 2px #f3e6f3;
    line-height: 25px;
    -webkit-tap-highlight-color: transparent;
}

p, label {
    font-family: 'Lora', serif;
    color: #3a2069;
    white-space: pre-line;
}

label {
    font-weight: bold;
}

div[class*='container_'] {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

/* Part tablet */
@media (min-width: 500px)  {
    h2 {
        border: double 10px #3a2069;
        padding: 5px;
    }

    h3 {
        font-size: x-large;
    }

    p, label {
        font-size: 21px;
    }

    img {
        width: 40px;
    }
}