@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Lora&display=swap');

body {
    margin: 0;
    width: 100%;
    height: auto;
    background: #f3e6f3;
}

h1 {
    font-family: 'Kavoon', serif;
    color: #f3e6f3;
    font-size: 5.6vw;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Kavoon', serif;
    font-size: 5.6vw;
    color: #3a2069;
    border: double 5px #3a2069;
    padding: 5px;
    letter-spacing: 5px;
    border-radius: 10px;
}

button {
    cursor: pointer;
    font-family: 'Lora', serif;
    font-size: medium;
    color: #f3e6f3;
    background-color: transparent;
    border: solid 2px #f3e6f3;
    line-height: 25px;
}

p {
    font-family: 'Lora', serif;
    color: #3a2069;
    white-space: pre-line;
}